/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Default tags */
body {
  font-family: 'Volkhov', serif;
  font-size: 19px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body,
html {
  width: 100%;
  min-height: 100%;
}
a {
  color: #2b2d2a;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Components */
.larger-header {
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.1em;
}
.large-header {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2em;
}
.small-header {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1em;
  margin-bottom: 3px;
}
.flat-button {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #e46d21;
  padding: 16px 30px;
  color: #fff;
  font-weight: 900;
  border: 0;
  outline: none;
  cursor: pointer;
}
/* Main navigation */
.main-nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 70px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.main-nav.active {
  background: #fff;
  border-bottom: 1px solid #d0d2cc;
}
.main-nav.active .flat-button:not(.signup-button) {
  color: #2b2d2a;
}
.main-nav.active .login-button {
  border: 1px solid #d0d2cc;
}
.main-nav.active .main-nav-logo {
  background-image: url("images/logo.svg");
}
.main-nav .flat-button {
  background: transparent;
  letter-spacing: 2px;
  padding-right: 20px;
  padding-left: 20px;
}
.main-nav-links {
  position: absolute;
  right: 0;
}
.main-nav .login-button,
.main-nav .signup-button {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 30px;
  margin-right: 20px;
}
.main-nav .login-button {
  margin-left: 20px;
}
.main-nav .signup-button {
  background: #6ea34e;
  border-color: #6ea34e;
}
.main-nav-logo {
  width: 190px;
  height: 40px;
  background: url("images/logow.svg") no-repeat center center;
  display: block;
  position: absolute;
  top: 14px;
  left: 20px;
}
.main-nav-hamburger {
  background: transparent;
  top: 23px;
  right: 25px;
  border: 0;
  background: url("images/hamburger.svg") no-repeat center center transparent;
  position: absolute;
  z-index: 5;
  width: 20px;
  height: 20px;
  display: none;
}
@media (max-width: 768px) {
  .main-nav-logo {
    background-image: url("images/logo.svg");
  }
  .main-nav {
    position: relative;
    padding: 0;
    padding-top: 70px;
    text-align: center;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    outline: none;
  }
  .main-nav-hamburger {
    display: block;
  }
  .main-nav-links {
    position: relative;
    background: #2b2d2a;
    padding: 0 20px;
  }
  .main-nav.active {
    max-height: 300px;
  }
  .main-nav-links a {
    border-bottom: 1px solid #5a5b59;
    padding: 13px 0 12px;
  }
  .main-nav-links a:last-child {
    margin-bottom: 20px;
  }
  .main-nav .flat-button {
    display: block;
  }
  .main-nav .login-button {
    margin-right: 10px;
  }
  .main-nav .login-button,
  .main-nav .signup-button {
    width: calc(50% - 10px);
    margin: 20px 0 0 0;
    display: inline-block;
    vertical-align: top;
  }
  .main-nav .signup-button {
    margin-left: 10px;
  }
}
/* Footer */
.main-footer {
  padding: 15px 20px;
  background: #2b2d2a;
}
.main-footer a {
  font-size: 12px;
}
.main-footer-logo img {
  width: 160px;
  display: inline-block;
  vertical-align: top;
}
.main-footer .flat-button {
  background: transparent;
  padding: 0;
  margin: 0 15px;
}
.main-footer-right {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}
.main-footer .login-button,
.main-footer .signup-button {
  border: 1px solid #5a5b59;
  padding: 8px 30px;
  margin: 0 10px;
}
.main-footer .signup-button {
  background: #5a5b59;
  border-color: #5a5b59;
  margin-right: 20px;
}
/* Hero Unit */
.hero-unit {
  background: #2b2d2a;
  height: 90vh;
  position: relative;
}
.hero-unit-copy {
  width: 800px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -125px;
  text-align: center;
  color: #fff;
}
.hero-unit h1 {
  margin-bottom: 20px;
}
.hero-unit h2 {
  font-size: 23px;
  line-height: 29px;
}
.hero-unit .flat-button {
  margin-top: 20px;
}
/* Applicable to All Panels */
.panel-content-container {
  max-width: 1100px;
  margin: auto;
}
.panel-gray {
  background: #efefed;
  width: 100%;
  padding: 130px 0;
  margin-bottom: 130px;
}
/* Panel 1 */
.panel1 {
  padding-top: 50px;
  margin-bottom: 130px;
}
.panel1-items {
  zoom: 1;
  margin-top: 50px;
}
.panel1-items:before,
.panel1-items:after {
  content: "";
  display: table;
}
.panel1-items:after {
  clear: both;
}
.panel1-item {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 17px;
  color: #5a5b59;
}
.panel1 header {
  width: 532px;
  margin: auto;
  text-align: center;
}
.panel1-item:nth-child(1) {
  padding-right: 24px;
}
.panel1-item:nth-child(2) {
  padding-right: 12px;
  padding-left: 12px;
}
.panel1-item:nth-child(3) {
  padding-left: 24px;
}
/* Panel 2 */
.panel2 {
  zoom: 1;
  margin-bottom: 130px;
}
.panel2:before,
.panel2:after {
  content: "";
  display: table;
}
.panel2:after {
  clear: both;
}
.panel2 header,
panel2-graph {
  float: left;
}
.panel2 header {
  width: 50%;
  padding-right: 18px;
}
.panel2-graph {
  width: 50%;
  padding-left: 18px;
}
/* Panel 3 */
.panel3 {
  zoom: 1;
  margin-bottom: 130px;
}
.panel3:before,
.panel3:after {
  content: "";
  display: table;
}
.panel3:after {
  clear: both;
}
.panel3 header,
.panel3-items {
  float: left;
}
.panel3 header {
  width: 50%;
  padding-left: 18px;
}
.panel3-items {
  width: 50%;
  padding-right: 18px;
}
/* Panel 4 */
.panel4 {
  zoom: 1;
  margin-bottom: 130px;
}
.panel4:before,
.panel4:after {
  content: "";
  display: table;
}
.panel4:after {
  clear: both;
}
.panel4 header,
panel4-graph {
  float: left;
}
.panel4 header {
  width: 50%;
  padding-right: 18px;
}
.panel4-graph {
  width: 50%;
  padding-left: 18px;
}
