/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* Default tags */
body {
  font-family: 'Volkhov', serif;
  font-size: 19px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body,
html {
  width: 100%;
  min-height: 100%;
}
a {
  color: #2b2d2a;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Components */
.larger-header {
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.1em;
}
.large-header {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2em;
}
.small-header {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1em;
  margin-bottom: 3px;
}
.flat-button {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #e46d21;
  padding: 16px 30px;
  color: #fff;
  font-weight: 900;
  border: 0;
  outline: none;
  cursor: pointer;
}
.copy-section {
  width: 50%;
  max-width: 650px;
  margin-left: 60px;
  position: absolute;
}
.centered-content {
  width: 100%;
  position: absolute;
  text-align: center;
}
.content-section {
  width: 100%;
  min-height: 500px;
  position: relative;
}
/* Main navigation */
.main-nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
}
.main-nav .flat-button {
  background: transparent;
  letter-spacing: 2px;
  padding-right: 20px;
  padding-left: 20px;
}
.main-nav-links {
  position: absolute;
  right: 0;
}
.main-nav .login-button,
.main-nav .signup-button {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 30px;
  margin-right: 20px;
}
.main-nav .login-button {
  margin-left: 20px;
}
.main-nav .signup-button {
  background: #6ea34e;
  border-color: #6ea34e;
}
.main-nav-logo {
  width: 180px;
  height: 40px;
  background: url("images/logow.svg") no-repeat center center;
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
}
.main-nav-hamburger {
  background: transparent;
  top: 14px;
  right: 18px;
  border: 0;
  background: url("images/hamburger.svg") no-repeat center center transparent;
  position: absolute;
  z-index: 5;
  width: 20px;
  height: 20px;
  display: none;
}
@media (max-width: 768px) {
  .main-nav-logo {
    background-image: url("images/logo.svg");
  }
  .main-nav {
    position: relative;
    padding: 0;
    padding-top: 50px;
    text-align: center;
  }
  .main-nav-hamburger {
    display: block;
  }
  .main-nav-links {
    position: relative;
    background: #2b2d2a;
    padding: 0 20px;
    max-height: 0;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
  .main-nav.active {
    max-height: 300px;
  }
  .main-nav-links a {
    border-bottom: 1px solid #5a5b59;
    padding: 13px 0 12px;
  }
  .main-nav-links a:last-child {
    margin-bottom: 20px;
  }
  .main-nav .flat-button {
    display: block;
  }
  .main-nav .login-button,
  .main-nav .signup-button {
    width: calc(50% - 10px);
    margin: 20px 0 0 0;
    display: inline-block;
    vertical-align: top;
  }
  .main-nav .login-button {
    margin-right: 10px;
  }
  .main-nav .signup-button {
    margin-left: 10px;
  }
}
/* Footer */
.main-footer {
  padding: 15px 20px;
  background: #2b2d2a;
}
.main-footer a {
  font-size: 12px;
}
.main-footer-logo img {
  width: 160px;
  display: inline-block;
  vertical-align: top;
}
.main-footer .flat-button {
  background: transparent;
  padding: 0;
  margin: 0 15px;
}
.main-footer-right {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}
.main-footer .login-button,
.main-footer .signup-button {
  border: 1px solid #5a5b59;
  padding: 8px 30px;
  margin: 0 10px;
}
.main-footer .signup-button {
  background: #5a5b59;
  border-color: #5a5b59;
  margin-right: 20px;
}
/* Hero Unit */
.hero-unit {
  background: #2b2d2a;
  height: 90vh;
}
.hero-unit-copy {
  width: 800px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -125px;
  text-align: center;
  color: #fff;
}
.hero-unit h1 {
  margin-bottom: 20px;
}
.hero-unit .flat-button {
  margin-top: 20px;
}
/* Sections */
.portfolio-section-buttons {
  margin: 60px 0;
}
.portfolio-section-buttons button {
  margin-right: 15px;
  background: rgba(0,0,0,0.5);
}
.portfolio-input-container {
  margin: 20px 0;
}
.portfolio-input {
  background: transparent;
  border: 0;
  outline: 0;
  width: 45px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid rgba(255,255,255,0.3);
  font-family: 'Volkhov', serif;
  font-size: 19px;
  padding: 10px;
}
.boxes-section-buttons {
  margin-top: 30px;
}
.boxes-section-buttons button {
  width: 250px;
  height: 250px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  background: rgba(0,0,0,0.5);
  line-height: 1.4em;
}
.boxes-section-buttons button:nth-of-type(3n+3) {
  margin-right: 0;
}
