<footer class='main-footer'>
  <a class='main-footer-logo' href='/'>
    <img src='images/logog.svg'>
  </a>
  <div class="main-footer-right">
    <a class='flat-button' href='/about'>
      About Us</a>
    <a class='flat-button' href='/faq'>
      FAQ</a>
    <a class='flat-button' href='/careers'>
      Careers</a>
    <a class='flat-button' href='/investors'>
      Investor Resources</a>
    <a class='flat-button' href='/contact'>
      Contact</a>
    <a class='flat-button' href='/livechat'>
      Live Chat</a>
    <a class='flat-button login-button' href='/login'>
      Log In</a>
    <a class='flat-button signup-button' href='/signup'>
      Sign Up</a>
  </div>
</footer>
