<section class='hero-unit content-section'>
  <div class='hero-unit-video'>
    <video autoplay loop>
      <source src='images/cap.mp4' type='video/mp4'>
    </video>
  </div>
  <div class="hero-unit-copy">
    <h1 class="larger-header">
      Smartest Investing Platform Made Simple and Accessible
    </h1>
    <h2>
      Build a customized diversified investment portfolio that incorperates the smartest ideas in investing.
    </h2>
    <button class='flat-button'>Invest Now</button>
  </div>
</section>
