<nav class='main-nav'>
  <a class='main-nav-logo' href='/'>
    <img src='images/logo.svg'>
  </a>
  <div class="main-nav-right">
    <a class='flat-button' href='/about'>About Us</a>
    <a class='flat-button' href='/investment-methodology'>Investment Methodology</a>
    <a class='flat-button' href='/faq'>FAQ</a>
    <a class='flat-button login-button' href='/login'>Log In</a>
    <a class='flat-button signup-button' href='/signup'>Sign Up</a>
  </div>
</nav>
