<nav class='main-nav'>
  <a class='main-nav-logo' href='/'></a>
  <button class="main-nav-hamburger"></button>
  <div class="main-nav-links">
    <a class='flat-button' href='/about'>About Us</a>
    <a class='flat-button' href='/investment-methodology'>Investment Methodology</a>
    <a class='flat-button' href='/faq'>FAQ</a>
    <a class='flat-button login-button' href='/login'>Log In</a><a class='flat-button signup-button' href='/signup'>Sign Up</a>
  </div>
</nav>
