<footer class='nextback'>
  <div class='nextback-back'>
    <button class='flat-button'>Back</button>
  </div>
  <div class='nextback-next'>
    <button class='flat-button'>Next</button>
  </div>
</footer>