<section class='panel5'>
  <div class='panel-content-container'>
    <header>
      <h1 class='large-header'>
        It's Easy To Get Started
      </h1>
      <br>
      <h2>
        Answer a few questions that will allow us to build you a customized investment plan.
      </h2>
    </header>
    <img class='panel5-laptop' src='images/laptop.png' />
  </div>
</section>
