<section class='panel3'>
  <div class='panel-content-container'>
    <ul class='panel3-items'>
      <li>
        <img src='images/water-icon.svg' />
        <h3 class='small-header' >26x Less water used</h3>
        <h4>82,000 cubic meters less per millions dollars of sales</h4>
      </li>
      <li>
        <img src='images/toxic-icon.svg' />
        <h3 class='small-header' >15x fewer toxic emissions</h3>
        <h4>Significantly less sulfuric oxies, and volatile compound</h4>
      </li>
      <li>
        <img src='images/air-icon.svg' />
        <h3 class='small-header' >4x Fewer Carbon Emissions</h3>
        <h4>1000 metric tons less carbon emitted per million dollars of sales</h4>
      </li>
    </ul>
    <header>
      <h1 class='large-header'>
        Sustainable Investment Options
      </h1>
      <br>
      <h2>
        Aute reprehenderit adipisicing pariatur deserunt reprehenderit magna culpa culpa consequat id incididunt laboris culpa deserunt. Amet sint aliqua amet minim velit nulla Lorem non sunt cillum minim.
      </h2>
    </header>
  </div>
</section>
