<section class='panel6'>
  <form class='panel-content-container'>
    <h1 class='large-header'>
      Build a Portfolio now
    </h1>
    <label>
      <h2>
        I am <input class='panel6-age' /> years old and I'm investing for
      </h2>
    </label>
    <div class='panel6-radios'>
      <label>
        <input class='flat-radio' type='radio' name='for' />
        <span class='small-header'>Retirement</span>
      </label>
      <label>
        <input class='flat-radio' type='radio' name='for' />
        <span class='small-header'>Build Wealth</span>
      </label>
      <label>
        <input class='flat-radio' type='radio' name='for' />
        <span class='small-header'>Future Goal</span>
        <small>College fund, house fund, etc.</small>
      </label>
      <label>
        <input class='flat-radio' type='radio' name='for' />
        <span class='small-header'>Other</span>
      </label>
    </div>
    <button class='flat-button' disabled='disabled' >Get Started</button>
  </form>
</section>
