<section class='panel2 panel-gray'>
  <div class='panel-content-container'>
    <header>
      <h1 class='large-header'>
        Superior investments with lower fees
      </h1>
      <h2>
        Superior investment performance at low fees and low minimums. Do do nulla reprehenderit laborum ut magna incididunt irure aliqua aliqua enim cillum sunt.
      </h2>
    </header>
    <img class='panel2-graph' src='images/perfgraph.svg' />
  </div>
</section>
