<section id='strategy' class='content-section'>
  <div class='copy-section'>
    <h1 class='large-header'>
      These three things
    </h1>
    <br>
    <h2>
      Lorem ipsum
    </h2>
    <br><br>
    <a class="flat-button">Invest Now</a>
  </div>
</section>
