<section class='panel5'>
  <div class='panel-content-container'>
    <header>
      <section class='panel5-header'>
        <h1 class='large-header'>
          It's Easy To Get Started
        </h1>
        <h2>
          Answer a few questions that will allow us to build you a customized investment plan.
        </h2>
        <img src='images/laptop1.png'>
      </section>
      <section class='panel5-header'>
        <h1 class='large-header'>
          Invest
        </h1>
        <h2>
          Answer a few questions that will allow us to build you a customized investment plan.
        </h2>
        <img src='images/laptop2.png' class='left'>
      </section>
      <section class='panel5-header'>
        <h1 class='large-header'>
          Rest and build wealth
        </h1>
        <h2>
          Answer a few questions that will allow us to build you a customized investment plan.
        </h2>
        <img src='images/laptop3.png'>
        <button class='flat-button panel5-cta'>Invest Now</button>
      </section>
    </header>
    <div class='panel5-laptop'>
      <div class='panel5-laptop-screen'>
        <img src='images/screenshot1.png' />
        <img src='images/screenshot2.png' />
        <img src='images/screenshot3.png' />
      </div>
      <img src='images/laptop.png' />
    </div>
  </div>
</section>
