<section class='panel4 panel-gray'>
  <div class='panel-content-container'>
    <header>
      <h1 class='large-header'>
        Diversified investment portfolio customized to you
      </h1>
      <h2>
        Superior investment performance at low fees and low minimums. Do do nulla reprehenderit laborum ut magna incididunt irure aliqua aliqua enim cillum sunt.
      </h2>
      <div class='panel4-mobile-graph'>
        <img src='images/mobileportfolio.svg' />
      </div>
      <a class='flat-button'>Build Your Portfolio Now</a>
    </header>
    <div class='panel4-graph' >
      <%- include portfoliograph -%>
    </div>
  </div>
</section>
