<section class='progressbar'>
  <h1>Personalize Your Portfolio</h1>
  <div class='progressbar-bar'>
    <div class='progressbar-bar-fill'></div>
  </div>
  <div class='progressbar-bar-marker'>
    1. Time Horizon
  </div>
  <div class='progressbar-bar-marker'>
    2. Income
  </div>
  <div class='progressbar-bar-marker'>
    3. Risk
  </div>
  <div class='progressbar-bar-marker'>
    4. Impact
  </div>
</section>