<div class='question2 question-container'>
  <div class='question-left'>
    <label class='question-label money-label'>
      Annual income?
      <input class='flat-input' size='10'>
    </label>
    <br class='question-br'>
    <label class='question-label money-label'>
      Value of current investments?
      <input class='flat-input' size='10'>
    </label>
    <small class='question-small'>
      (Optional) The current value of you cash and liquid investments? (e.g. savings, CDs, stocks, bonds, mutual funds, IRAs and 401(k)s)
    </small>
  </div>
</div>