<div class='question1 question-container'>
  <div class='question-left'>
    <label class='question-label'>
      Age?
      <input class='flat-input' size='3'>
    </label>
    <br class='question-br'>
    <label class='question-label'>
      Age you would you like to withdraw funds?
      <input class='flat-input' size='3'>
    </label>
  </div>
  <div class='question-right'>
    <label class='question-label'>
      What are you investing for?
      <label>
        <input class='flat-radio' type='radio' name='investing-for'>
        Retirement
      </label>
      <label>
        <input class='flat-radio' type='radio' name='investing-for'>
        Building Wealth
      </label>
      <label>
        <input class='flat-radio' type='radio' name='investing-for'>
        Future Goal
      </label>
      <label>
        <input class='flat-radio' type='radio' name='investing-for'>
        Other
      </label>
    </label>
  </div>
</div>