<div class='question2 question-container'>
  <div class='question-left'>
    <label class='question-label'>
      Annual income?
      <input class='flat-input' size='3'>
    </label>
    <br class='question-br'>
    <label class='question-label'>
      Value of current investments?
      <input class='flat-input' size='3'>
      <small>
        (Optional) The current value of you cash and liquid investments? (e.g. savings, CDs, stocks, bonds, mutual funds, IRAs and 401(k)s)
      </small>
    </label>
  </div>
</div>