<div class='question4 question-container'>
  <div class='question-middle'>
    <label class='question-label'>
      Choose the most appealing investment scenario:
    </label>
    <table class='question4-table'>
      <tbody>
        <tr>
          <th></th>
          <th>Worst Case</th>
          <th>Average</th>
          <th>Best Case</th>
          <th>Summary</th>
        </tr>
        <tr>
          <td>
            <input type='radio' name='risk-level' class='flat-radio' value='0'>
          </td>
          <td>-6%</td>
          <td>7%</td>
          <td>16%</td>
          <td>Very Conservative</td>
        </tr>
        <tr>
          <td>
            <input type='radio' name='risk-level' class='flat-radio' value='1'>
          </td>
          <td>-12%</td>
          <td>9%</td>
          <td>21%</td>
          <td>Conservative</td>
        </tr>
        <tr>
          <td>
            <input type='radio' name='risk-level' class='flat-radio' value='2'>
          </td>
          <td>-14%</td>
          <td>10%</td>
          <td>31%</td>
          <td>Somewhat Aggressive</td>
        </tr>
        <tr>
          <td>
            <input type='radio' name='risk-level' class='flat-radio' value='3'>
          </td>
          <td>-19%</td>
          <td>11%</td>
          <td>42%</td>
          <td>Aggressive</td>
        </tr>
        <tr>
          <td>
            <input type='radio' name='risk-level' class='flat-radio' value='4'>
          </td>
          <td>-28%</td>
          <td>13%</td>
          <td>50%</td>
          <td>Very Aggressive</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>