<div class='question5 question-container'>
  <label class='question-label'>
    Are you interested in incorporating environmentally sustainable screened investments?
    <small>
      You can always create both a sustainable portfolio and a conventional portfolio.
    </small>
    <label>
      <input class='flat-radio' type='radio' name='impact'>
      Yes
    </label>
    <label>
      <input class='flat-radio' type='radio' name='impact'>
      No
    </label>
    <label>
      <input class='flat-radio' type='radio' name='impact'>
      Maybe later
    </label>
  </label>
</div>