<div class='question3 question-container'>
  <div class='question-left'>
    <label class='question-label'>
      I am most concerned about my investments...
      <label>
        <input class='flat-radio' type='radio' name='risk1'>
        Gaining value
      </label>
      <label>
        <input class='flat-radio' type='radio' name='risk1'>
        Losing value
      </label>
      <label>
        <input class='flat-radio' type='radio' name='risk1'>
        Both equally
      </label>
    </label>
  </div>
  <div class='question-right'>
    <label class='question-label'>
      If my investments suddenly dropped dramatically in value, I would...
      <label>
        <input class='flat-radio' type='radio' name='risk2'>
        Sell all
      </label>
      <label>
        <input class='flat-radio' type='radio' name='risk2'>
        Sell some
      </label>
      <label>
        <input class='flat-radio' type='radio' name='risk2'>
        Do nothing
      </label>
      <label>
        <input class='flat-radio' type='radio' name='risk2'>
        Buy more
      </label>
    </label>
  </div>
</div>