<!doctype html>
<html>
  <!-- Head -->
  <%- include head -%>
  <body>
    <!-- Progressbar -->
    <%- include progressbar -%>
    <!-- Questionnaire Footer -->
    <%- include nextback -%>
    <!-- Javascripts -->
    <%- include scripts -%>
  </body>
</html>
