.main-footer {
  padding: 15px 20px;
  background: darkest-gray-color;
}


.main-footer-logo img {
  width: 160px;
  display: inline-block;
  vertical-align: top;
}

.main-footer .flat-button {
  background: transparent;
  padding: 0;
  margin: 0 15px;
  color: light-gray-color;
  font-size: lato-small;
  letter-spacing: lato-letter-spacing-small;
}

.main-footer-right {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}

.main-footer .login-button, .main-footer .signup-button {
  border: 1px solid #5a5b59;
  padding: 8px 30px;
  margin: 0 10px;
}

.main-footer .signup-button {
  background: #5a5b59;
  border-color: #5a5b59;
  margin-right: 20px;
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .main-footer-logo {
    display: block;
    text-align: center;
    border-bottom: 1px solid darker-gray-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .main-footer-right {
    position: relative;
    clearfix();
  }

  .main-footer-right .flat-button {
    width: calc(50% - 10px);
    margin: 0;
    float: left;
    line-height: 1.3em;
    margin-bottom: mobile-gutter-size;
  }

  .main-footer-right .flat-button:nth-child(2n + 2) {
    margin-left: mobile-gutter-size;
  }

  .main-footer-right .signup-button, .main-footer-right .login-button {
    padding: 10px mobile-gutter-size;
    text-align: center;
  }
}
