@import 'lib'

.main-footer {
  padding: 15px 20px;
  background: darkest-gray-color;
}

.main-footer a {
  font-size: lato-small;
}

.main-footer-logo img {
  width: 160px;
  display: inline-block;
  vertical-align: top;
}

.main-footer .flat-button {
  background: transparent;
  padding: 0;
  margin: 0 15px;
}

.main-footer-right {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}

.main-footer .login-button, .main-footer .signup-button {
  border: 1px solid #5a5b59;
  padding: 8px 30px;
  margin: 0 10px;
}

.main-footer .signup-button {
  background: #5a5b59;
  border-color: #5a5b59;
  margin-right: 20px
}
