@import 'lib'

.hero-unit {
  background: darkest-gray-color;
  height: 90vh;
}

.hero-unit-copy {
  width: 800px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -125px;
  text-align: center;
  color: white;
}

.hero-unit h1 {
  margin-bottom: 20px;
}

.hero-unit .flat-button {
  margin-top: 20px;
}