.hero-unit {
  background: black;
  height: 90vh;
  position: relative;
}

.hero-unit-copy {
  max-width: 800px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -125px;
  text-align: center;
  color: white;
  padding: 0 gutter-size;
}

.hero-unit h1 {
  margin-bottom: 20px;
}

.hero-unit h2 {
  font-size: vollkorn-headline;
  line-height: 29px;
}

.hero-unit .flat-button {
  margin-top: 20px;
  background-color: orange-color;
}

.hero-unit .flat-button:hover {
  background-color: orange-light-color;
}

/* iPad (portrait) */
@media (max-width: 768px) {

  .hero-unit {
    height: auto;
  }

  .hero-unit-copy {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    padding: gutter-size;
  }
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .hero-unit-copy {
    padding: mobile-gutter-size;
    padding-bottom: mobile-gutter-size + 5px;
  }

  .hero-unit-copy h1 {
    font-size: lato-headline;
    font-weight: 500;
  }

  .hero-unit-copy h2 {
    font-size: vollkorn-small;
    line-height: 1.3em;
  }

  .hero-unit-copy .flat-button {
    width: 100%;
  }
}

