@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

// Colors
$green-color: #6EA34E;
$green-dark-color: #568736;
$orange-color: #e26d21;
$orange-light-color: #ed6f29;
$darkest-gray-color: #2B2D2A;
$darker-gray-color: #5A5B59;
$gray-color: #808580;
$light-gray-color: #B0B3AB;
$lighter-gray-color:#D0D2CC;
$lightest-gray-color: #EFEFED;

// Typography
$lato-family: 'Lato' sans-serif;
$vollkorn-family: 'Volkhov' serif;
$lato-small: 12px;
$lato-body: 14px;
$lato-small-headline: 19px;
$lato-headline: 28px;
$lato-large-headline: 48px;
$vollkorn-headline: 21px;
$vollkorn-body: 17px;
$vollkorn-small: 15px;
$lato-letter-spacing-small: 1px;
$lato-letter-spacing: 2px;

// Spacers
$mobile-gutter-size: 20px;
$gutter-size: 36px;
$col-width: 106px;
$section-margin: 150px;
$max-width: 1100px;
$questionairre-width: 720px;

/* CSS Reset */
@import './reset';
/* Default tags */
@import 'tags';
/* Components */
@import 'components';
/* Main navigation */
@import 'nav';
/* Footer */
@import 'footer';
/* Hero Unit */
@import 'hero';
/* Applicable to All Panels */
@import 'panels';
/* Panel 1 */
@import 'panel1';
/* Panel 2 */
@import 'panel2';
/* Panel 3 */
@import 'panel3';
/* Panel 4 */
@import 'panel4';
/* Panel 5 */
@import 'panel5';
/* Panel 6 */
@import 'panel6';
