@import 'lib'

.main-nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
}

.main-nav .flat-button {
  background: transparent;
  letter-spacing: 2px;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav-right {
  position: absolute;
  right: 0;
}

.main-nav .login-button, .main-nav .signup-button {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 30px;
  margin-right: 20px;
}

.main-nav .login-button {
  margin-left: 20px;
}

.main-nav .signup-button {
  background: green-color;
  border-color: green-color;
}

.main-nav-logo img {
  width: 194px;
  position: absolute;
  left: 20px;
  top: 15px;
}