@import 'lib'

.main-nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
}

.main-nav .flat-button {
  background: transparent;
  letter-spacing: 2px;
  padding-right: 20px;
  padding-left: 20px;
}

.main-nav-links {
  position: absolute;
  right: 0;
}

.main-nav .login-button, .main-nav .signup-button {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 30px;
  margin-right: 20px;
}

.main-nav .login-button {
  margin-left: 20px;
}

.main-nav .signup-button {
  background: green-color;
  border-color: green-color;
}

.main-nav-logo {
  width: 180px;
  height: 40px;
  background: url("images/logow.svg") no-repeat center center;
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
}

.main-nav-hamburger {
  background: transparent;
  top: 14px;
  right: 18px;
  border: 0;
  background: url("images/hamburger.svg") no-repeat center center transparent;
  position: absolute;
  z-index: 5;
  width: 20px;
  height: 20px;
  display: none;
}

/* iPad (portrait) */
@media (max-width: 768px) {

  .main-nav-logo {
    background-image: url("images/logo.svg");
  }

  .main-nav {
    position: relative;
    padding: 0;
    padding-top: 50px;
    text-align: center;
  }

  .main-nav-hamburger {
    display: block;
  }

  .main-nav-links {
    position: relative;
    background: darkest-gray-color;
    padding: 0 mobile-gutter-size;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  .main-nav.active {
    max-height: 300px;
  }

  .main-nav-links a {
    border-bottom: 1px solid darker-gray-color;
    padding: 13px 0 12px;
  }

  .main-nav-links a:last-child {
    margin-bottom: mobile-gutter-size;
  }

  .main-nav .flat-button {
    display: block;
  }

  .main-nav .login-button, .main-nav .signup-button {
    width: "calc(50% - %s)" % (mobile-gutter-size / 2)
    margin: mobile-gutter-size 0 0 0;
    display: inline-block;
    vertical-align: top;
  }

  .main-nav .login-button {
    margin-right: (mobile-gutter-size / 2);
  }

  .main-nav .signup-button {
    margin-left: (mobile-gutter-size / 2);
  }
}
