.nextback {
  width: $questionairre-width;
  margin: auto;
  position: relative;
}

.nextback-back button {
  position: absolute;
  left: 0;
  background: transparent;
  color: $gray-color;
  background: left center url(images/backarrow.svg) no-repeat;
  background-size: 16px;
  display: none;
}

.nextback-back button:hover {
  background-color: transparent;
}

.nextback-next button {
  position: absolute;
  right: calc(50% - 75px);
  width: 150px;
}