.panel3 {
  @include clearfix;;
  margin-bottom: $section-margin;
}

.panel3 header, .panel3-items {
  float: left;
}

.panel3 header {
  width: 50%;
  padding-left: ($gutter-size / 2);
}

.panel3-items {
  width: 50%;
  padding-right: ($gutter-size / 2);
}

.panel3-items li {
  position: relative;
  opacity: 0;
  transition: left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),
    opacity 0.5s ease-out;
}

.panel3-items li:nth-child(1) {
  left: 100px;
}

.panel3-items li:nth-child(2) {
  left: 120px;
  transition-delay: 0.1s;
}

.panel3-items li:nth-child(3) {
  left: 140px;
  transition-delay: 0.2s;
}

.panel3-items.active li {
  left: 0;
  opacity: 1;
}

.panel3-items img {
  width: 50px;
  float: left;
  margin-right: 20px;
}

.panel3-items li {
  @include clearfix;;
  margin-bottom: $gutter-size;
}

.panel3-items h4 {
  font-size: $vollkorn-small;
  color: $darker-gray-color;
  line-height: 1.3em;
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .panel3 {
    margin-bottom: $mobile-gutter-size * 2;
  }

  .panel3-items {
    width: 100%;
  }

  .panel3 header {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  .panel3-items img {
    margin-bottom: 25px;
  }

  .panel3-items li {
    margin-bottom: 15px;
  }
}
