.panel2 {
  clearfix();
  margin-bottom: section-margin;
}

.panel2 header, panel2-graph {
  float: left;
}

// MATH
.panel2 header {
  width: 50%;
  padding-right: (gutter-size / 2);
}

.panel2-graph {
  width: 50%;
  padding-left: (gutter-size / 2);
}