.panel3 {
  clearfix();
  margin-bottom: section-margin;
}

.panel3 header, .panel3-items {
  float: left;
}

// MATH
.panel3 header {
  width: 50%;
  padding-left: (gutter-size / 2);
}

.panel3-items {
  width: 50%;
  padding-right: (gutter-size / 2);
}