.panel5 {
  clearfix();
  margin-bottom: section-margin;
}

.panel5 header, panel5-laptop {
  float: left;
}

.panel5 header {
  width: 50%;
  padding-right: (gutter-size / 2);
}

.panel5-laptop {
  width: 50%;
  padding-left: (gutter-size / 2);
}

.panel5 header .flat-button {
  display: block;
  text-align: center;
  margin-top: 36px;
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .panel5 header {
    width: 100%;
    padding: 0;
  }

  .panel5-laptop {
    width: 100%;
    padding-left: 0;
    margin-top: mobile-gutter-size;
  }
}
