.panel5 {
  margin-bottom: $section-margin;
}

.panel5 .panel-content-container {
  position: relative;
}

.panel5 header {
  width: 38%;
  padding-right: ($gutter-size / 2);
}

.panel5-laptop {
  width: calc(62% - #{$gutter-size});
  z-index: -1;
  position: absolute;
  right: 38px;
  top: 0;
}

.panel5-laptop img {
  width: 100%;
}

.panel5 header .flat-button {
  display: block;
  text-align: center;
  margin-top: 36px;
}

.panel5-laptop-screen {
  width: 72%;
  height: 83%;
  position: absolute;
  top: 5%;
  left: 15%;
  overflow: hidden;
}

.panel5-laptop-screen img {
  width: 100%;
  display: block;
}

.panel5-header:not(:first-child) {
  margin-top: 68vh;
}

.panel5-laptop.stuck {
  position: fixed;
  top: 60px + $section-margin;
}

.panel5-laptop.bottom {
  bottom: 0;
  top: inherit;
}

.panel5-cta {
  background-color: $orange-color;
}

.panel5-cta:hover {
  background-color: $orange-light-color;
}

.panel5-header img {
  display: none;
}

/* Hit grid at max size */
@media (min-width: $max-width + ($gutter-size * 2)) {

  .panel5 header {
    width: ($col-width * 3) + ($gutter-size * 2);
  }
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .panel5 header {
    width: 100%;
    padding: 0;
  }

  .panel5-laptop {
    width: 100%;
    padding-left: 0;
    margin-top: $mobile-gutter-size;
  }

  .panel5-laptop {
    display: none;
  }

  .panel5-header:not(:first-child) {
    margin-top: $mobile-gutter-size;
    min-height: 50vh;
  }

  .panel5-header:first-child {
    margin-top: 0;
  }

  .panel5 .flat-button {
    width: 100%;
  }

  .panel5 {
    margin-bottom: 0;
  }

  .panel5-header img {
    display: block;
    margin: $mobile-gutter-size 0 ($mobile-gutter-size * 3) 0;
    position: relative;
    left: -($mobile-gutter-size);
    width: 130%;
  }

  .panel5-header img.left {
    margin-left: -24%;
  }
}
