.panel6 {
  text-align: center;
  margin: 25vh 0;
}

.panel6-age {
  border: 0;
  border-bottom: 2px solid $gray-color;
  margin: 0 0 0 3px;
  font-size: $vollkorn-headline;
  width: 36px;
  font-family: $vollkorn-family;
  outline: none;
  padding-bottom: 5px;
  color: $green-color;
  text-align: center;
  padding: 0;
  border-radius: 0;
}

.panel6-age:focus {
  border-color: $green-color;
}

.panel6 h2 {
  margin-top: 20px;
  font-size: $vollkorn-headline;
}

.panel6-radios {
  text-align: center;
  margin: ($gutter-size * 2) 0;
}

.panel6-radios label {
  display: inline-block;
  margin-right: $gutter-size;
  text-align: center;
  vertical-align: top;
}

.panel6-radios .small-header {
  display: block;
  margin-top: 10px;
}

.panel6-radios input {
  display: inline-block;
}

.panel6-radios small {
  font-size: $vollkorn-small;
  color: $gray-color;
  display: block;
  font-style: italic;
}

.panel6 .flat-button:not([disabled]) {
  background-color: $orange-color;
}

.panel6 .flat-button:not([disabled]):hover {
  background-color: $orange-light-color;
}

.panel6 h1 {
  margin-bottom: $gutter-size;
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .panel6-radios label {
    text-align: left;
    width: 100%;
    margin-bottom: $mobile-gutter-size;
    margin-right: 0 !important;
  }

  .panel6-radios input {
    margin-right: 10px;
  }

  .panel6-radios input, .panel6-radios .small-header {
    display: inline-block;
    vertical-align: top;
  }

  .panel6-radios small {
    margin-left: 44px;
  }

  .panel-content-container h1, .panel-content-container h2 {
    text-align: left;
  }

  .panel6 h1 {
    margin-bottom: 0;
  }

  .panel6 h2, .panel6-age {
    font-size: $vollkorn-body;
  }

  .panel6 .flat-button {
    width: 100%;
  }

  .panel6-radios {
    margin: $mobile-gutter-size 0;
  }

  .panel6 {
    margin: ($mobile-gutter-size * 2) 0;
  }
}
