.panel-content-container {
  max-width: max-width + (gutter-size * 2);
  margin: auto;
  padding: 0 gutter-size;
}

.panel-gray {
  background: lightest-gray-color;
  width: 100%;
  padding: section-margin 0;
  margin-bottom: section-margin;
}

/* iPhone (portrait) */
@media (max-width: 667px) {

  .panel-gray {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .panel-content-container {
    padding: (mobile-gutter-size * 2) mobile-gutter-size !important;
    margin-bottom: 0 !important;
  }
}
