.questionnaire-logomark {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
}

.question-label {
  font-family: $lato-family;
  font-size: $lato-small-headline;
  font-weight: bold;
}

.question-label input {
  display: block;
  margin-top: 7px;
}

.question-small {
  font-family: $vollkorn-family;
  font-size: $vollkorn-small;
  font-weight: normal;
  color: $gray-color;
  line-height: 1.4em;
  margin-top: 10px;
  display: block;
}

.question-label > label {
  display: block;
  font-size: $vollkorn-body;
  font-family: $vollkorn-family;
  font-weight: normal;
}

.question-label > label input {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  margin-right: 5px;
}

.question-label > label input:last-child {
  margin-top: 15px;
}

.question-br {
  height: $gutter-size;
  display: block;
}

.question-container {
  @include clearfix;
  float: left;
  width: $questionairre-width;
}

.question-left, .question-right {
  float: left;
}

.question-left {
  width: 50%;
  padding-right: $gutter-size;
}

.question-right {
  width: 50%;
  border-left: 1px solid $lighter-gray-color;
  padding-left: $gutter-size;
}

.question-full {
  margin-top: $gutter-size;
}

.questionnaire-container {
  width: $questionairre-width;
  margin: ($gutter-size * 2) auto 0 auto;
  overflow: hidden;
}

.questionnaire-questions {
  width: $questionairre-width * 5;  
  @include clearfix;
}

.question4-table {
  margin: 20px 0 $gutter-size 0;
}

.question4-table th, .question4-table td {
  padding: 5px 30px 5px 0;
}

.question4-table td:first-child {
  border-top: 0;
}

.question4-table td:last-child {
  padding-right: 0;
}

.question4-table th {
  font-family: $lato-family;
  font-size: $lato-small;
  text-transform: uppercase;
  letter-spacing: $lato-letter-spacing-small;
  font-weight: bold;
}

.question4-table td {
  border-top: 1px solid $lighter-gray-color;
}

.question4-table td:last-child {
  font-style: italic;
  color: $gray-color;
}
