body {
  font-family: 'Volkhov', serif;
  font-size: vollkorn-body;
  line-height: 1.4em;
  color: darkest-gray-color;
}

body, html {
  width: 100%;
  min-height: 100%;
}

a {
  color: darkest-gray-color;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
