/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Global Tags */
body {
  font-family: 'Volkhov', serif;
  font-size: 19px;
  line-height: 1.4em;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body, html {
  width: 100%;
  min-height: 100%;
}

a {
  color: #2B2D2A;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* Compoonents */
.larger-header {
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1em;
}

.large-header {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1em;  
}

.flat-button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #e46d21;
  padding: 16px 30px;
  color: white;
  font-weight: 900;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.copy-section {
  width: 50%;
  max-width: 650px;
  margin-left: 50px;
  position: absolute;
}

/* Main nav */
.main-nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
}

.main-nav .flat-button {
  background: transparent;
  font-size: 12px;
  letter-spacing: 2px;
}

.main-nav-right {
  position: absolute;
  right: 0;
}

.login-button, .signup-button {
  border: 1px solid rgba(255,255,255,0.5);
  padding: 8px 30px;
  margin-right: 20px;
}

.main-nav .login-button {
  margin-left: 20px;
}

.main-nav .signup-button {
  background: #6eb14e;
  border-color: #6eb14e;
}

.main-nav-logo img {
  width: 160px;
  position: absolute;
  left: 20px;
}

/* Sections */
.full-screen-section {
  background: black;
  width: 100%;
  min-height: 500px;
  position: relative;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

.hero-unit-copy {
  width: 800px;
  height: 250px;
  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -125px;
  text-align: center;
}

.hero-unit h1 {
  margin-bottom: 20px;
}

.hero-unit .flat-button {
  margin-top: 20px;
}
